body {
    background-image: url("assets/topography.png");
}

main {
    padding: 1% 10% 10% 10%;
}

#logo {
    background-color: #333333;
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#navbar {
    width: 100%;
    height: 100%;
    background-color: #333333;
    overflow: hidden;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    background-color: #333333;
    color: rgb(248, 16, 159);
    text-decoration: underline;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    float: left;
}

#navbar ul li:hover {
    background-color: black;
    color: rebeccapurple;
}

h1 {
    font-size: 50px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: rgb(236, 22, 154);
    font-size: 35px;
    text-align: center;
}

#whatIam {
    text-align: center;
}

p {
    font-size: 20px;

}



h3 {
    font-size: 40;
    padding: 3% 3% 3% 3%;
    text-align: center;
}